*{
	margin: 0;
	padding: 0;
}

.menu{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-direction: row;
}

.menu img{
	width: auto;
	height: 80%;
}

.menu #botton{
	width: 40%;
	height: 100%;
}

.menu .links{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	flex-direction: row;
}

.menu .links a{
	color: #343636;
	font-size: 1.3em;
	text-decoration: none;
	font-family: arial;
	font-weight: 700;
}

.menu .links a#estado{
	color: #000;
	text-decoration: underline;
}

.menu .links a:hover{
	color: green;
}


@media screen and (max-width: 1200px){
	.menu{
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-direction: row;
    }

    .menu #botton{
    width: 8%;
	height: 80%;
	background-image: url(../img/menu.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;


    }

	.menu .links{
	display: none;
    }

    .menu #menu.active{
    	position: absolute;
    	display: flex;
    	background-position: red;
    	top: 0;
    	left: 0;
    	background: red;
    }

    .menu #menu.active .links{
	display: none;
    }
}



/*clases parea menu*/

.encabezado{
	width: 100%;
	height: 90vh;
	min-height: 750px;
	background: #000;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.encabezado .titulo{
	width: 80%;
	height: 90%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	flex-direction: row;
}

.encabezado .titulo .img{
	width: 55%;
	height: 500px;
	background-image: url(../img/fondo.jpg);
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}

.encabezado .titulo .texto{
	width: 40%;
	height: 200px;
}

.encabezado .titulo .texto h1{
	font-family: verdana;
	font-size: 3em;
	color: #fff;
	text-align: center;
}


@media screen and (max-width: 1300px){
	.encabezado .titulo{
	width: 90%;
	height: 90%;
	flex-direction: column-reverse;
	justify-content: space-evenly;
    }
    .encabezado .titulo .img{
	width: 80%;
	height: 50%;
	background-image: url(../img/fondo.jpg);
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
    }

    .encabezado .titulo .texto{
	width: 80%;
	height: 200px;
	}
}